.HomePage {}
.cover{
    background: #799785 ;
    height: calc(100vh - 100px);
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: end;
}
.coverp{
    font-size: 90px;
}
.empty1{
    height: 80px;
}