.AboutPage {}
.cover{
    background: #799785 ;

    min-height: calc(100vh - 50px);;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: row;
    z-index: 10;
    justify-content: end;
}
.coverp{
font-size: 90px;
transform: rotate(-90deg);
position: absolute;
top: calc((100vh - 50px)/2);
right: -10vh;


}
.whatrwe{
    margin-top: 60px;
    position: relative;
    vertical-align: bottom;
    margin-right:50vw ;
    margin-left: 10vw;
}
.empty1{
    height: 300px;
}
.box1{
    width: 100%;
    height: calc(80vh - 50px);
    min-height: 600px;
    background-color: rgb(156, 197, 181);
    z-index: 30;
    position: relative;
}
.box1p{
    font-size: 90px;
    position: absolute;
    top: calc((80vh - 50px)/100);
    left:20px;
}
.whatdowedotxt{
    position: absolute;
    bottom: 20px;

    right: 20px;
    left: 20vw
}
.box2{
    width: 100%;
    height: calc(80vh - 50px);
    min-height: 600px;
    background-color: rgb(156, 197, 181);
    z-index: 30;
    position: relative;
}
.box2p{
    font-size: 90px;
    position: absolute;
    top: calc((80vh - 50px)/100);
    right:20px;
}
.projects{
    position: absolute;
    bottom: 20px;

    left: 20px;
    right: 20vw
}