.Landing {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;  
    background-color: #333; 
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.center_text{
    width: 10px;
    height: 10px;
    background-color: red;
}