.Landing {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 55;  
    background-color: #232323; 
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.center_text{
    width: 100px;
    height: 100px;
    background-color: red;
}

.circle{
    position: fixed;
    z-index: 61;
    top: 90vh;
    left: 40vw;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    animation-name: animcircles;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes animcircles {
    0% {
    left: 40vw;
    top: 90vh;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #eaeaea;
    
    }    
    22.5% {
        left: 42.5vw;
        top: 90vh;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-color: #989898;
    }
    45%{
        left: 40vw;
        top: 90vh;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        background-color: #eaeaea;
    }
    67.5% {
        left: 42.5vw;
        top: 90vh;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-color: #989898;
    }
    90%{
        left: 40vw;
        top: 90vh;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        background-color: #eaeaea;
    }
    100%{
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        background-color: white;
    }
}