.Landing {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 55;  
    background-color: #232323; 
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.center_text{
    width: 100px;
    height: 100px;
    font-size: 30px;
    color: #acacac;
    /* background-color: red; */
}

.circle{
    position: fixed;
    z-index: 61;
    top: 90vh;
    left: 40vw;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    animation-name: animcircles;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes animcircles {
    0% {
    left: 40vw;
    top: 90vh;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #eaeaea;
    
    }    
    22.5% {
        left: 42.5vw;
        top: 90vh;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-color: #989898;
    }
    45%{
        left: 40vw;
        top: 90vh;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        background-color: #eaeaea;
    }
    67.5% {
        left: 42.5vw;
        top: 90vh;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-color: #989898;
    }
    90%{
        left: 40vw;
        top: 90vh;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        background-color: #eaeaea;
    }
    100%{
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        background-color: white;
    }
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
a:visited{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.dclogo{
    position: fixed;
    z-index: 62;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #333;
    top: 100vh;
    left: 40vw;
    animation-name: glowupdc;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes glowupdc {
    0%{
        top: 100vh;
    }
    100%{
        top: 20vh;
    }
}

.homelogo{
    position: fixed;
    z-index: 62;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: #333;
    top: 100vh;
    left: 27.5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name:glowuphome;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes glowuphome {
    0%{
        top: 100vh;
    }
    100%{
        top: 55vh;
    }
}


.aboutlogo{
    position: fixed;
    z-index: 62;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    background-color: #333;
    top: 100vh;
    left: 62.5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name:glowupabout;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes glowupabout {
    0%{
        top: 100vh;
    }
    100%{
        top: 75vh;
    }
}


.emptylogo{
    position: fixed;
    z-index: 62;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #333;
    top: 100vh;
    left: 42.5vw;
    animation-name:glowupempty;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes glowupempty {
    0%{
        top: 100vh;
    }
    100%{
        top: 85vh;
    }
}